.principal{
    padding: 80px 0;
}

.informacoes__container{
    display: flex;
    flex-direction: row;
}

.informacoes__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.informacoes__conteudo__titulo{
    font-size: 52px;
}

.informacoes__conteudo__preco{
    margin: 10px 0;
    font-weight: 700;
}

.informacoes__conteudo__descricao{
    word-wrap: break-word;
    width: 600px;
}
.informacoes__imagem{
    width: 520px;
    height: 390px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.similares__titulo{
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0 20px;
}

.similares__produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px){
    .informacoes__imagem{
        width: 340px;
        height: 235px;
    }
    .informacoes__conteudo__descricao{
        width: 350px;
    }
    .informacoes__conteudo__titulo {
        font-size: 22px;
    }
    .similares__titulo{
        font-size: 22px;
    }
}

@media (max-width: 425px){
    .principal{
        padding-top: 0;
    }
    .informacoes__container{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .informacoes__imagem{
        width: 100%;
        height: 250px;
    }
    .similares__produtos{
        flex-wrap: wrap;
    }
    .informacoes__conteudo{
        margin-top: 50px;
    }
    
    .informacoes__conteudo__descricao, .informacoes__conteudo__titulo, .informacoes__conteudo__preco{
        width: 330px;
        margin: 5px auto;
    }
}